

<body>
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
            <div class="overlay" >
            <h1>Hotel Management System</h1>                    
            </div>
        </div>
        <div class="right">
            <h5>ADMIN-LOGIN</h5> 
            <form (ngSubmit)="onSubmit()" #myForm="ngForm">         
                <input type="text" name="uname" placeholder="User name" name="username" ngModel required #uname="ngModel">
                 <div>
                    <small class="val" *ngIf="uname.invalid && uname.touched">Username is required field</small>
                </div>
                
                <input type="password" name="pswd" placeholder="Password" name="password" ngModel required #pass="ngModel" >
               <div>
                    <small class="val" *ngIf="pass.invalid && pass.touched">Password is required field</small>
                </div>
                <p>Don't have an account? <a href="/signup">SignUp Here</a> it takes less than a minute</p> 
                <button mat-raised-button color="accent" routerLink="/landing">Back</button>
                <button mat-raised-button color="accent" routerLink="/hotellist" [disabled]="!myForm.valid">SignIn</button>  
              <!-- Angular -->   
            </form>          
            </div>			
           
        
    </div>  
    </body>
    
    