.content{
    padding: 5px;
}
.box{
    display: flex;
    gap: 10px;
}
.title{
    background-color: #2196f3;
    color: white;
    font-family: fantasy;
}
.btn-cancel{
    background-color: #f33a21;
    color: rgb(217, 241, 217);
}
.btn-save{
    background-color: #119ea5;
    color: white;
    margin-left: 5px;
}
.mat-input{
    width: 50%;
}
.btn{
    justify-content: center;
    display: flex;
    padding: 0px 25px 20px ;
}