.landing{
    background-image: url('/../assets/welcomenew.png');
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;      
}
.button{
    text-align: center;
    padding-top:460px;
   

}