<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form (ngSubmit)="login()" #loginForm="ngForm">
					<label for="chk" aria-hidden="true">Login</label>
					
					<input type="email"  placeholder="Email" name="email" ngModel required email #email="ngModel">
					<div>
						<small *ngIf="email.invalid && email.touched">Email id is required field</small>
					</div>
					<input type="password"  placeholder="Password"name="password" ngModel required #pass="ngModel">
					<div>
						<small *ngIf="pass.invalid && pass.touched">Password is required field</small>
					</div>
					<button routerLink="/landing" [disabled]="!loginForm.valid">Login</button>
				</form>
			</div>

			<div class="login">
				<form (ngSubmit)="signup()" #myForm="ngForm">
					<label for="chk" aria-hidden="true">Signup</label>
					<input type="text"  placeholder="User name" name="name" ngModel required #uname="ngModel">
					<div>
						<small class="val" *ngIf="uname.invalid && uname.touched">Username is required field</small>
					</div>
					<input type="email"  placeholder="Email" name="email" ngModel required email #mail="ngModel">
					<div>
						<small class="val" *ngIf="mail.invalid && mail.touched">Email id is required field</small>
					</div>
					<input type="password"  placeholder="Password"  name="password" ngModel required #passw="ngModel">
					<div>
						<small class="val" *ngIf="passw.invalid && passw.touched"> Password is required field</small>
					</div>
					<button routerLink="/landing" [disabled]="!myForm.valid">Signup</button>
				</form>
			</div>
	</div>
</body>
</html>