
<body>
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
            <div class="overlay">
            <h1>Hotel Management System</h1>           
            <span>
                <p>login with social media</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
            </span>
            </div>
        </div>
                  <div class="right">
            <h5>USER-LOGIN</h5>
            <p>Don't have an account? <a href="/signup">SignUp Here</a> it takes less than a minute</p>
            <div class="inputs">
                <input type="text" placeholder="user name">
                <br>
                <input type="password" placeholder="password">
            </div>
                
                <br><br>
                
            <div >
                    <!-- Angular -->             
            </div>			
            <button mat-raised-button color="accent" routerLink="/landing">Back</button>
            <button mat-raised-button color="accent" routerLink="/signin">SignIn</button>                 
            </div>
        
    </div>  
    </body>
    
    